E2E_PROJECT=admin
E2E_BASE_URL=https://xydb-release.local.hzzxf.com
E2E_API_BASE_URL=https://xydb-release.local.hzzxf.com/api
E2E_OAUTH2_CLIENT=Basic xxxxx
E2E_TENANT_ID=1

E2E_LOGIN_USERNAME=demo
E2E_LOGIN_PASSWORD=demo
E2E_LOGIN_IMAGE_CODE=1234

E2E_SCENARIO_PREPARE_PATH=/demo/prepare
E2E_SCENARIO_VERIFY_PATH=/demo/verify
E2E_SCENARIO_UI_PATH=/dashboard
